@font-face {
  font-family: custom;
  src: url(/assets/fonts/sugarmagicpersonaluseonly-jemyo.otf);
}

:root {
  --select-color: white;
  --background-color: rgb(255, 239, 211);
}

body {
  background-color: var(--background-color);
}
